# Global ignores
.DS_Store
*.log

# Backend tooling
backend/.venv/
backend/__pycache__/
backend/node_modules/
backend/dist/

# Homepage tooling
homepage/node_modules/
homepage/.next/
homepage/dist/

# IDE metadata
*.iml
.idea/
.vscode/

# Serverpod local cache
.serverpod-home/

# Flutter tooling caches
.dart-tool/
.dartServer/
.flutter
.pub-cache/
.config/
